
ResFileLoader/.vs/ResFileLoader/FileContentIndex/7a76f47e-d063-48f8-84bd-d90854b3c773.vsidx
ResFileLoader/.vs/ResFileLoader/FileContentIndex/read.lock
ResFileLoader/.vs/ResFileLoader/v17/.suo
ResFileLoader/.vs/ResFileLoader/v17/Browse.VC.db
ResFileLoader/.vs/ResFileLoader/v17/Browse.VC.db-shm
ResFileLoader/.vs/ResFileLoader/v17/Browse.VC.db-wal
ResFileLoader/.vs/ResFileLoader/v17/Browse.VC.opendb
ResFileLoader/.vs/ResFileLoader/v17/ipch/AutoPCH/69a26a2b3fdab067/MACCONVERTEDARCHIVE.ipch
ResFileLoader/.vs/ResFileLoader/v17/ipch/AutoPCH/7c8f14808b06bb20/FILEHELPER.ipch
ResFileLoader/.vs/ResFileLoader/v17/ipch/AutoPCH/7e1be22ae7d8a8a3/MAIN.ipch
ResFileLoader/.vs/ResFileLoader/v17/ipch/AutoPCH/97631dbb2babb45b/MACCONVERTEDOFFSETSFILE.ipch
ResFileLoader/.vs/ResFileLoader/v17/ipch/AutoPCH/df083c44c02ab34b/MACCONVERTEDDATAFILE.ipch
*.off
*.bin
*.exe
*.pdb
*.obj
*.recipe
*.tlog
*.log
*.idb
